<div class="text-center">
  <h2>{{title}}</h2>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  <textarea>{{description}}</textarea>
  <img src="{{image}}" alt="logo of project">
</div>